{:paths ["solutions" "resources" "data_structures" "algorithms"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.apache.pdfbox/pdfbox {:mvn/version "3.0.3"}
        org.apache.pdfbox/pdfbox-io {:mvn/version "3.0.3"}
        org.apache.pdfbox/pdfbox-tools {:mvn/version "3.0.3"}
        #_pdfboxing/pdfboxing #_{:mvn/version "0.1.15.5-SNAPSHOT"}}

 :aliases
 {;; frontend
  ;; clj -M:test
  :test {:extra-paths ["test"]
         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.70.1086"}
                       lambdaisland/kaocha-cloverage {:mvn/version "1.0.75"}
                       nubank/matcher-combinators {:mvn/version "3.5.1"}
                       nubank/state-flow {:mvn/version "5.14.2"}}
         :main-opts   ["-m" "kaocha.runner"]}
  ;; clj -M:clojure-lsp
  :clojure-lsp {:replace-deps {com.github.clojure-lsp/clojure-lsp-standalone {:mvn/version "2022.09.01-15.27.31"}}
                :main-opts ["-m" "clojure-lsp.main"]}
  ;; clj -M:nrepl
  :nrepl {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
